#alphabet {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

      li {
        display: inline-block;
        margin: .5rem;
        font-size: 2rem;
        font-weight: 900;
        color: $gray-light;
      }
  }
}
